nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #ea7a90;
  width: 400px;
  box-sizing: border-box;
  color: #f3f4f8; }
  nav .header-nav {
    display: inline-flex;
    margin-top: 70px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; }
    nav .header-nav .titulo-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 15px; }
      nav .header-nav .titulo-header h3 {
        margin: 0;
        margin-bottom: 10px; }
      nav .header-nav .titulo-header a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px; }
    nav .header-nav img {
      border-radius: 50%;
      width: auto;
      height: 100px;
      margin-right: 23px; }
  nav .menu-nav {
    display: flex;
    flex-direction: column;
    color: #d4dae6;
    box-sizing: border-box;
    padding-right: 85px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-top: 95px;
    margin-bottom: 150px; }
    nav .menu-nav a {
      color: #d4dae6 !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      font-size: 20px;
      margin-top: 25px; }
      nav .menu-nav a :nth-child(1) {
        vertical-align: middle;
        width: 30px;
        font-size: 30px; }
    nav .menu-nav span {
      margin-left: 20px;
      vertical-align: middle;
      font-size: 11px; }
  nav .settings-nav {
    display: flex;
    flex-direction: column;
    color: #d4dae6;
    box-sizing: border-box;
    padding-right: 85px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; }
    nav .settings-nav a {
      color: #d4dae6 !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      font-size: 20px;
      margin-top: 25px; }
      nav .settings-nav a :nth-child(1) {
        vertical-align: middle;
        width: 30px;
        font-size: 30px; }
    nav .settings-nav span {
      margin-left: 20px;
      vertical-align: middle;
      font-size: 11px; }
