@import 'variables.scss';
// Fuente Nunito Sans
@mixin font-light {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
@mixin font-bold {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

@mixin flex($eje1, $eje2, $wrap, $direction) {
    display: flex;
    justify-content: $eje1;
    align-items: $eje2;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin button-settings {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $small;    
}

@mixin style-button-nav {
    display: flex;
    flex-direction: column;
    color: $gris;
    box-sizing: border-box;
    padding-right: 85px;
    @include font-bold;
    }