// Tamaños 
$small: 11px;
$medium: 15px;
$large: 20px;
// Colores
$blanco: #f3f4f8;
$gris: #d4dae6;
$violeta: #e0e0ea;
$rosa: #ea7a90;
$rosa-claro: #f2959e;
$gris-oscuro: #97969d;
// Fuente
$font-family: 'Nunito Sans', sans-serif;